.add-pizza {
	max-width: 712px;
	&__title {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 900;
		font-size: 48px;
		line-height: 56px;
		letter-spacing: 0.01em;
		color: #2c2c2c;
	}
	&__subtitle {
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0.01em;
		color: #2c2c2c;
		margin: 15px 0 54px 0;
	}
}

.form {
	&__row {
		display: flex;
		margin: -30px;
	}
	&-item {
		padding: 30px;
		width: 50%;
		position: relative;
		&__legend {
			position: absolute;
			top: -11px;
			left: 30px;
			font-family: "Raleway";
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.01em;
			color: rgba(44, 44, 44, 0.5);
		}
		&__input {
			width: 100%;
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.01em;
			color: rgba(44, 44, 44, 0.5);
			padding: 16px 22px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
			border: none;
			outline: none;
		}
	}
}

.sizes {
	margin: 30px 0;
	&-item {
		margin-right: 30px;
	}
	&__text {
		margin-left: 10px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.01em;
		color: rgba(44, 44, 44, 0.5);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	&__legend {
		position: absolute;
		top: -11px;
		left: 30px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: rgba(44, 44, 44, 0.5);
	}
	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		+ label {
			cursor: pointer;
			margin-right: 30px;
			&::before {
				content: "";
				display: inline-block;
				background-color: #fff;
				width: 15px;
				height: 15px;
				border: 1px solid #fe5f1e;
				box-sizing: border-box;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
				border-radius: 100px;
			}
		}
		&:checked + label::before {
			background-color: #fe5f1e;
		}
	}
}

.types {
	margin: 30px 0;
}

.prices {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -10px;
	}
	&__size {
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 30px;
		font-family: Raleway;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.01em;
		color: #ffffff;
		background: #2c2c2c;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
		border-radius: 50%;
	}
	&__label {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px;
		box-sizing: border-box;
		input {
			padding: 15px 55px 15px 20px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
			border-radius: 50px;
			outline: none;
			border: none;
			font-family: Raleway;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.01em;
			color: rgba(44, 44, 44, 0.6);
			max-width: 115px;
			width: 100%;
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				appearance: none;
			}
		}
	}
	&__prefix {
		position: absolute;
		right: 20px;
		font-family: Raleway;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: rgba(44, 44, 44, 0.6);
	}
}


.col-6 {
	width: 50%;
}