.admin {
	&__title {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 900;
		font-size: 48px;
		line-height: 56px;
		letter-spacing: 0.01em;
		color: #2c2c2c;
	}
	&__subtitle {
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0.01em;
		color: #2c2c2c;
		margin: 15px 0 34px 0;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		padding: 52px;
		background: #ffffff;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		cursor: pointer;
		transition: 0.5s;
		path {
			transition: 0.3s;
		}
		&:hover {
			background-color: #fe5f1e;
			path {
				fill: white;
			}
			.box__title {
				opacity: 1;
			}
		}
		&.is-active {
			background-color: #fe5f1e;
			.box__title {
				opacity: 1;
			}
			path {
				fill: white;
			}
		}
	}
	&_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 68px;
	}
	&__description {
		max-width: 688px;
	}
	&__button {
		font-family: Raleway;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.01em;
		background-color: transparent;
		border: none;
		border-radius: 30px;
		padding: 13px 66px;
		background-color: #2c2c2c;
		color: white;
		transition: 0.5s;
		cursor: pointer;
		&:hover {
			background-color: #fe5f1e;
		}
	}
}

.box {
	&__title {
		margin-top: 10px;
		height: 0;
		opacity: 0;
		font-family: "Raleway";
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: #fff;
		transition: 0.3s;
	}
}
